/* ==============================
   Nav Colors
   ============================== */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}

/* ==============================
   Form Input Color Override
   ============================== */

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border: none;
    box-shadow: 0 1px 1px rgba(147, 8, 12, 0.075) inset, 0 0 0 4px rgba(147, 8, 12, 0.4);
    outline: 0 none;
}

/* ==============================
   Body
   ============================== */

body {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}

ul {
    list-style-type: none;
    padding: 0;
}

.card {
    margin-top: 1.5rem;
}

.card-container ul li:nth-child(even) {
    background-color: #ececec;
}

.bullet {
    margin-right: 5px;
}

.coins {
    margin-left: 5px;
}

.footerbox {
    margin-top: 1.8rem;
}