/* ==============================
   Nav Colors
   ============================== */

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}

/* ==============================
   Body
   ============================== */

body {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}

ul {
    list-style-type: none;
    padding: 0;
}

.card {
    margin-top: 1.5rem;
}

.list-container ul li:nth-child(even) {
    background-color: #ececec;
}

.bullet {
    margin-right: 5px;
}

.coins {
    margin-left: 5px;
}