/* ==============================
   Nav
   ============================== */

.chicken {
    width: 30%;
    margin-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}

/* ==============================
   Form Input Color Override
   ============================== */

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
    border: none;
    box-shadow: 0 1px 1px rgba(147, 8, 12, 0.075) inset, 0 0 0 4px rgba(147, 8, 12, 0.4);
    outline: 0 none;
}

/* ==============================
   Body
   ============================== */

body {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}

ul {
    list-style-type: none;
    padding: 0;
}

.card {
    margin-top: 1.5rem;
}

.coins {
    margin-left: 5px;
}

.list-group-item:nth-child(even) {
    background-color: #ececec;
}

.body-title {
    font-size: 17px;
    color: grey;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

/* ==============================
   Footer
   ============================== */

.footerbox {
    margin-top: 1.8rem;
}

#topArrow {
    float: right;
    cursor: pointer;
}

/* ==============================
   Admin-Panel
   ============================== */

.editCoins {
    margin-left: .3rem;
    width: 6rem;
}

.delBtn {
    margin-left: .2rem;
    width: 30px;
    cursor: pointer;
}

.editBtn {
    cursor: pointer;
}

.saveCoins {
    margin-top: 1rem;
    font-weight: bold;
}

.adduser {
    margin: 4rem auto 1rem auto;
    width: 70%;
}